header {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.3);
}
header .headerlogo {
  width: 197px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-top: 25px;
  padding-bottom: 15px;
  position: relative;
  z-index: 3;
  background-color: white;
}
.header-menu button {
  padding-left: 20px;
  border: none;
  background-color: white;
}
.header-menu i {
  font-size: 25px;
}
@media screen and (min-width: 768px) {
  .header-menu .logo {
    position: absolute;
    left: 37%;
  }
}
@media screen and (min-width: 1025px) {
  .header-menu .logo {
    position: absolute;
    left: 42%;
  }
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 10px;
}
footer .footerlogo {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  color: white;
  text-align: left;
  margin: 0 0 0 0;
}
footer .informations {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .informations a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
footer .informations a i {
  font-size: 10px;
  padding-right: 5px;
  align-self: center;
}
footer .informations a i.rotate {
  transform: rotate(-45deg);
  position: relative;
  top: -4px;
}

@media (min-width: 1281px) {
  footer {
    flex-direction: row-reverse;
    gap: 100px;
    padding-right: 50px;
  }
  footer .informations {
    flex-direction: row;
    gap: 30px;
  }
}
/* barre de recherche */
.icone_search {
  display: flex;
  justify-content: center;
  background-color: #EAEAEA;
}
.icone_search .search {
  font-size: 16px;
  background-color: #EAEAEA;
  border: none;
  text-align: center;
  padding: 20px 0;
}
.icone_search span {
  align-self: center;
}

/* Le bouton rose */
.explorer {
  background-color: #F6F6F6;
  padding-top: 50px;
  padding-bottom: 60px;
}

.thepinkbutton {
  text-align: center;
  padding-top: 16px;
}
.thepinkbutton button {
  width: 218px;
  height: 50px;
  background: linear-gradient(360deg, rgb(147, 86, 220), rgb(255, 121, 218));
  border: none;
  border-radius: 60px;
  box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.2);
}
.thepinkbutton button span {
  font-size: 16px;
  color: white;
}

/* Partie fonctionnement */
.fonctionnement {
  margin-bottom: 70px;
}
.fonctionnement .fonctionnementdesktop {
  padding: 20px;
}
.fonctionnement .fonctionnementdesktop .buttonmenu {
  display: flex;
  text-align: center;
  font-size: 24px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 7px 8px 9px rgba(0, 0, 0, 0.08);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  gap: 25px;
}
.fonctionnement .fonctionnementdesktop .buttonmenu .number {
  align-self: center;
  font-size: 14px;
  color: white;
  border-radius: 50%;
  background-color: #9356DC;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  left: -7px;
}
.fonctionnement .fonctionnementdesktop .buttonmenu .icone {
  align-self: center;
  color: #353535;
}
.fonctionnement .fonctionnementdesktop .buttonmenu .icone-purple {
  color: #9356DC;
}

/* Choix restaurant */
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #F6F6F6;
  padding-bottom: 50px;
  margin: 0px;
}
.restaurants a {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  position: relative;
}
.restaurants a img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants a .new {
  color: #008766;
  background-color: #99E2D0;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.08);
  -moz-text-align-last: center;
       text-align-last: center;
  position: absolute;
  right: 15px;
  top: 15px;
}
.restaurants a .card {
  display: flex;
  justify-content: space-between;
}
.restaurants a .card .cardtxt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.restaurants a .card .cardtxt h4 {
  font-size: 18px;
  margin: 0 0 0 0;
}
.restaurants a .card i {
  font-size: 20px;
  align-self: center;
  padding-right: 30px;
}

@media screen and (min-width: 1025px) {
  .fonctionnementdesktop {
    display: flex;
    gap: 30px;
  }
  .restaurants a {
    width: 490px;
    height: 251px;
  }
  .restaurants .restaurantsdesktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
* {
  font-family: "Roboto", sans-serif;
}

.titlemenu {
  font-family: "Shrikhand", serif;
  text-align: left;
  padding-left: 15px;
}

.footerlogo {
  font-family: "Shrikhand", serif;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 0 0 0;
}

h2 {
  font-size: 24px;
  padding-left: 20px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
  text-align: center;
  margin: 30px 20px;
}

@media screen and (min-width: 1025px) {
  .container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-size: 40px;
  }
}/*# sourceMappingURL=main.css.map */