header {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header .headerlogo {
  width: 197px;
  padding-top: 25px;
  padding-bottom: 15px;
}

.header-menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 20px;
}
.header-menu button {
  border: none;
  background-color: white;
}
.header-menu i {
  font-size: 25px;
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 10px;
}
footer .footerlogo {
  font-family: "Shrikhand", serif;
  font-size: 18px;
  color: white;
  text-align: left;
  margin: 0 0 0 0;
}
footer .informations {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer .informations a {
  color: white;
  font-size: 16;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
footer .informations a i {
  font-size: 10px;
  padding-right: 5px;
  align-self: center;
}
footer .informations a i.rotate {
  transform: rotate(-45deg);
  position: relative;
  top: -4px;
}

@media (min-width: 1281px) {
  footer {
    flex-direction: row-reverse;
    gap: 100px;
    padding-right: 50px;
  }
  footer .informations {
    flex-direction: row;
    gap: 30px;
  }
}
/* barre de recherche */
.icone_search {
  display: flex;
  width: 100%;
  background-color: #EAEAEA;
  padding-left: 112px;
}
.icone_search .search {
  font-size: 16px;
  background-color: #EAEAEA;
  border: none;
  padding: 20px;
}
.icone_search label {
  align-self: center;
}

/* Le bouton rose */
.explorer {
  background-color: #F6F6F6;
  padding-top: 50px;
  padding-bottom: 60px;
}

.thepinkbutton {
  text-align: center;
  padding-top: 16px;
}
.thepinkbutton button {
  width: 218px;
  height: 50px;
  background: linear-gradient(360deg, rgb(147, 86, 220), rgb(255, 121, 218));
  border: none;
  border-radius: 60px;
  box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.2);
}
.thepinkbutton button span {
  font-size: 16px;
  color: white;
}

/* Partie fonctionnement */
.fonctionnement {
  padding-left: 20px;
  margin-bottom: 70px;
}
.fonctionnement .buttonmenu {
  display: flex;
  text-align: center;
  font-size: 24px;
  width: 322.49px;
  background-color: #F6F6F6;
  border-radius: 25px;
  box-shadow: 7px 8px 9px rgba(0, 0, 0, 0.08);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  gap: 25px;
}
.fonctionnement .buttonmenu .number {
  align-self: center;
  font-size: 14px;
  color: white;
  border-radius: 50%;
  background-color: #9356DC;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  position: relative;
  left: -7px;
}
.fonctionnement .buttonmenu .icone {
  align-self: center;
  color: #353535;
}
.fonctionnement .buttonmenu .icone-purple {
  color: #9356DC;
}

/* Choix restaurant */
.restaurants {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #F6F6F6;
  padding-bottom: 50px;
  margin-bottom: 0px;
}
.restaurants .test {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
.restaurants .test .new {
  color: #008766;
  background-color: #99E2D0;
  width: 80px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.08);
  -moz-text-align-last: center;
       text-align-last: center;
  position: relative;
  left: 96px;
  top: 78px;
}
.restaurants .test .new-two {
  left: -19px;
  top: 359px;
}
.restaurants .restaurantsdesktop {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.restaurants h2 {
  padding-left: 20px;
}
.restaurants h4 {
  font-size: 18px;
  margin: 0 0 0 0;
}
.restaurants span {
  font-size: 17px;
  margin: 0 0 0 0;
}
.restaurants a {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 340px;
  height: 251px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  margin-left: 20px;
}
.restaurants a img {
  max-width: 370px;
  max-height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants a .card {
  display: flex;
  justify-content: space-between;
}
.restaurants a .cardtxt {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.restaurants a i {
  font-size: 20px;
  align-self: center;
  padding-right: 30px;
}

@media (min-width: 1281px) {
  .fonctionnement {
    padding-left: 250px;
  }
  .fonctionnement .fonctionnementdesktop {
    width: 90%;
    display: flex;
    flex-direction: row;
  }
  .restaurants {
    padding-left: 250px;
  }
  .restaurants h2 {
    padding: 0px;
  }
  .restaurants a {
    width: 490px;
    height: 251px;
  }
  .restaurants img {
    width: 490px;
    height: 251px;
  }
  .restaurants .restaurantsdesktop {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurants .test .new {
    left: -225px;
  }
  .restaurants .test .new-two {
    left: -288px;
    top: 78px;
  }
}
* {
  font-family: "Roboto";
}

.titlemenu {
  font-family: "Shrikhand", serif;
  text-align: left;
  padding-left: 15px;
}

.footerlogo {
  font-family: "Shrikhand", serif;
}

img {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 375px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 0 0 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
  text-align: center;
  margin: 30px;
}

@media (min-width: 1281px) {
  .main-container {
    max-width: 1600px;
  }
  h1 {
    font-size: 40px;
  }
}/*# sourceMappingURL=main.css.map */