footer {
    background-color: $darkgray;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 10px;

    .footerlogo {
        font-family: 'Shrikhand', serif;
        font-size: 18px;
        color: white;
        text-align: left;
        margin: 0 0 0 0;
    }
    
    .informations {
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        a {
            color: white;
            font-size: 16px;
            text-decoration: none;
            display: flex;
            flex-direction: row;

            i {
            font-size: 10px;
            padding-right: 5px;
            align-self: center;
            }

            i.rotate {
                transform: rotate(-45deg);
                position: relative;
                    top:-4px;
                }
        }
    }
}   

@media (min-width: 1281px) {

    footer {
        flex-direction: row-reverse;
        gap: 100px;
        padding-right: 50px;

        .informations {
            flex-direction: row;
            gap: 30px;
        }
    }

}