header {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include headershadow;  

    .headerlogo {
        width: 197px;
        padding-top: 25px;
        padding-bottom: 15px;
    } 
}        

// header des pages menus //

.header-menu {
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-top: 25px;
    padding-bottom: 15px;
    
    position : relative;
    z-index: 3;
    background-color: white;

    button {
        padding-left: 20px;
        border: none;
        background-color: white;
    }

    i {
        font-size: 25px;
    }

    .logo {
        @media screen and (min-width: 768px) {
            position: absolute;
                left: 37%; 
        }
        @media screen and (min-width: 1025px) {
            position: absolute;
                left: 42%; 
        }
    }
}
