header {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include headershadow;  

    .headerlogo {
        width: 197px;
        padding-top: 25px;
        padding-bottom: 15px;
    } 
}        

// header des pages menus //

.header-menu {
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding-top: 25px;
    padding-bottom: 15px;

    .return {
        width: 30px;
        margin-left: 25px;
    }
}
