header {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include headershadow;  
}        

.headerlogo {
    width: 197px;
    padding-top: 25px;
    padding-bottom: 15px;
} 