/* barre de recherche */

.icone_search {
    display: flex;
    width: 100%;
    background-color: $lightgray;
    padding-left: 112px;
    
    .search {
        font-size: 16px;
        background-color: $lightgray;
        border : none;
        padding: 20px;
    }
    
    label {
        align-self: center;
    }
}



/* Le bouton rose */

.explorer {
    background-color: $background;
    padding-top: 50px;
    padding-bottom: 60px;
}

.thepinkbutton {
    text-align: center;
    padding-top: 16px;
    
    button {
        width: 218px;
        height: 50px;
        background: $pinkbutton;
        border: none;
        border-radius: 60px;
        
        @include buttonshadow;
       
        span {
            font-size: 16px;
            color: white;
        }
    }
}



/* Partie fonctionnement */

.fonctionnement {
    padding-left: 20px;
    margin-bottom: 70px;

    .buttonmenu {
        display: flex;
        text-align: center;
        font-size: 24px;
        width: 322.49px;
        background-color: $background;
        border-radius: 25px;
        @include buttonfonctionshadow;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        margin-left: 10px;
        gap: 25px;
    
        .number {
            align-self: center;
            font-size: 14px;
            color : white;
            border-radius : 50%;
            background-color: $primary-color;
            padding-left: 8px;
            padding-right: 8px;
            padding-top: 3px;
            padding-bottom: 3px;
    
            position: relative;
            left: -7px;
            
        }

        .icone {
            align-self: center;
            color: $darkgray;
        }

        .icone-purple {
            color: $primary-color;
        }
    }
}

/* Choix restaurant */

.restaurants {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: $background;
    padding-bottom: 50px;
    margin-bottom: 0px;
    
    .test {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
        
        .new {
            color: $darkgreen;
            background-color: $lightgreen;
            width: 80px;
            border-radius: 10px;
            padding-top: 10px;
            padding-bottom: 10px;

            @include shadow-new;

            text-align-last: center;

            position: relative;
                left: 96px;
                top: 78px;
        }

        .new-two {
            left: -19px;
            top: 359px;   
        }
    }

    .restaurantsdesktop {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    h2 {
        padding-left: 20px;
    }

    h4 {
        font-size: 18px;
        margin: 0 0 0 0;
    }

    span {
        font-size: 17px;
        margin: 0 0 0 0;
    }

    a {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 340px;
    height: 251px;
    border-radius: 20px;

    @include restaurant;
    
    margin-left: 20px;

        img {
            max-width: 370px;
            max-height: 170px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;

        }
        .card {
            display: flex;
            justify-content: space-between;
        }

        .cardtxt {
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding-top: 20px;
            padding-left: 20px;   
            padding-bottom: 20px;
        }
        
        i {
            font-size: 20px;
            align-self: center;
            padding-right: 30px;
        }
    }
}

@media (min-width: 1281px) {

    .fonctionnement{
        padding-left: 250px;
    

        .fonctionnementdesktop {
            width: 90%;
            display: flex;
            flex-direction: row;
        }
    }

    .restaurants {
        padding-left: 250px;
    
        h2 {
            padding: 0px;
        }

        a {
            width: 490px;
            height: 251px;
        }

        img {
            width: 490px;
            height: 251px;
        }
        .restaurantsdesktop {
            flex-direction: row;
            flex-wrap: wrap;
        } 
        .test{

            .new {
                left: -225px;
            }
            .new-two {
                left: -288px;
                top: 78px;   
            }
        }
    }

   

}
    
