// mixins à refaire avec darken

@mixin headershadow {
    box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.30)
}

@mixin buttonshadow {
    box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.20)
}

@mixin restaurant {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03)
}

@mixin buttonfonctionshadow {
    box-shadow: 7px 8px 9px rgba(0, 0, 0, 0.08)
}

@mixin shadow-new {
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.08)
}
