//  color     

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$background: #F6F6F6;

$darkgray: #353535;
$lightgray: #EAEAEA;
$shadow: #000000;
$darkgreen : #008766;
$lightgreen : #99E2D0;

$pinkbutton : linear-gradient(360deg, rgba(147, 86, 220, 1), rgba(255, 121, 218, 1));   